body {
  background: #f9e933;
  font-family: 'Droid Sans', sans-serif;
}

.comments {
    background-color: #9479fa;
    background: #9479fa;
    box-shadow: 0 -4px 2px -2px rgba(0,0,0,0.4);
    box-shadow: 0 4px 2px -2px rgba(0,0,0,0.4);
}

.button {
    display: inline-block;
    margin: 10px;
    padding: 8px 15px;
    background: #B8ED01;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 4px;
    transition: all 0.3s ease-out;
    box-shadow: 
        inset 0 1px 0 rgba(255,255,255,0.5), 
        0 2px 2px rgba(0,0,0,0.3), 
        0 0 4px 1px rgba(0,0,0,0.2); 
    /* Font styles */
    text-decoration: none;
    text-shadow: 0 1px rgba(255,255,255,0.7);
}

header, main, footer {
  min-width: 500px;
}

header .container, main .container, footer .container {
  max-width: 500px;
  margin: auto;
}

header {
  padding: 25px 0 25px 0;
  background: white;
  overflow: auto;
  border-bottom: 1px solid #ddd;
}

/* MAIN LOGO */
h1 {
  font-family: 'Ubuntu', sans-serif;
  font-style: italic;
  font-size: 3em;
  color: #b33;
  float: left;
  width: 570px;
}

/* FOOTER HEADINGS */
h5 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.25em;
    margin-bottom: 20px;
}

header nav {
  float: right;
  
}

a {
  color: #f00;
  text-decoration: none;
  font-weight: bold;
}

main {
    background: #fff;
    border-radius: 0 5px 5px 5px;;
    padding: 40px;
}

.tabs a span {
    border-radius: 5px 5px 0 0;
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    text-align: center;
    background: #ddd;
    padding: 5px;
}

.tabs a .active {
    background: #eee;
}

main .content {
    padding: 30px 10px 30px 10px;
    border-radius: 0 5px 5px 5px;
    background: #eee;
}

main .content li {
    border-radius: 5px;
    padding: 3px;
    background: #eff;
    margin: 0 0 10px 0;
}

main .content button {
  font-weight: bold;
  padding: 0 3px 0 3px;
  border-radius: 5px;
  background: #ccc;
  cursor: pointer;
  margin-left: 5px;
  font-size: 1.3em;
}




main .content input {
    font-size: 1.5em;
}

footer {
    border-top: 1px solid #ddd;
    padding: 40px 0 20px 0;
}

footer .contact {
  float: left;
  width: 570px;    
}

footer .contact p:nth-child(2) {
  color: #b33;
  font-style: italic;
}

footer .sitemap {
    float: right;
    width: 285px;
}

footer ul {
    width: 230px;
}

li {
    list-style: none;
}

footer .sitemap .left {
    float: left;
}

footer .sitemap .right {
    float: right;
}

.li {
    display: inline-block;
    margin: 0 0.2em;
    padding: 3px;
    background: #97CAF2;
    border-radius: 2px;
    transition: all 0.3s ease-out; 
    /* Font styles */
    text-decoration: none;
    font-weight: bold;
    color: white;
}